Package: net.hollr2099.audiomackpp
Name: Audiomack++
Depends: mobilesubstrate, firmware (>= 10.0)
Version: 1.0.0.8
Architecture: iphoneos-arm
Description: Free Premium Audiomack
Maintainer: SarahH12099
Author: SarahH12099
Section: Tweaks
