Package: net.hollr2099.jiosaavnpp
Name: JioSaavn++
Depends: mobilesubstrate, firmware (>= 10.0)
Version: 1.0.0.2
Architecture: iphoneos-arm
Description: No ads, high quality enabled.
Maintainer: SarahH12099
Author: SarahH12099
Section: Tweaks
